body{
      background-color: antiquewhite;
      font: 18px Arial, sans-serif;
}

.center {
      text-align: center;
      color: red;
}

.large {
      font-size: 300%;
}

/* Style the header */
.header {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
}

